# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
.env/
.venv/

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# ARCHIVOS EXCEL (NO SUBIR DATA)
# =========================
*.xlsx
*.xls
~$*.xlsx

# =========================
# OUTPUTS / GRÁFICAS
# =========================
outputs_ventas/
*.png
*.jpg
*.jpeg

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/